@import 'fonts';
@import 'vars';
@import 'media-queries';
body{
    font-family: 'NotoItalic';
}
h1{
    width: 100%;
    padding: 5em 0 3em 0;
    font-family: 'NotoLight';
    color: $white-copy;
    font-size: 2.4em;
    text-align: center;
    line-height: 2em;
}
h2{
    font-family: 'NotoLight';
    padding: 0.8em 0;
    font-size: 1.7em;
    text-transform: uppercase;
}
h3{
    font-family: 'NotoBold';
    padding: 0.5em 0;
}
h4{
    padding: 0 13em;
    color: $light-blue;
    font-size: 1em;
    font-family: 'NotoRegular';
}
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
    width: 100%;
}
.border-white{
    display: block;
    width: 1.7em;
    padding: .2em 0;
    margin: 0 0 1em 0;
    border-bottom: 3px solid $white-copy;
}
.border-black{
    display: block;
    width: 1.7em;
    padding: .2em 0;
    margin: 1em 0 1em 7.3em;
    border-bottom: 3px solid $dark-bg;
}

//header
.top-bar{
    width: 100%;
    position: fixed;
    opacity: 75%;
    background: $nav-bg;
    font-family: 'NotoBold';
}
.top-nav{
    position: relative;
    right: 12em;
    padding: .5em;
    margin: 1.8em 0;
    float: right;
}
.top-link{
    margin: 0 0.1em;
    padding: 0.2em 1.2em;
    font-size: 1em;
    color: $white-copy;
    text-decoration: none;
}
.top-link:hover{
    color: $light-blue;
    transition: all ease .5s;
    border: 2px solid $light-blue;
}

.top-item{
    display: inline;
}

.logo{
    position: relative;
    left: 6em;
    margin: 0em;
    padding: 0.7em 0;
    display: block;
    font-size: 1.8em;
    text-decoration: none;
    color: $white-copy;
}
.logo:hover{
    color: $light-blue;
}
.blue{
    color: $light-blue;
}
.img-header{
    background: url(../imgs/header.jpg);
    background-position: center;
    background-size: cover;
    padding: 13em 0;
}
.text-header{
    background:$dark-bg;
    padding: 0 .5em;
}
//Header

//Services
.services-section{
    background: $light-blue;
    padding: 2em 13em;
    color: $white-copy;
    font-family: 'NotoLight';
}
.services-text{
    font-family: 'NotoRegular'
}
//Services

//Portfolio
.portfolio-section{
    margin: 2em 0;
}
.portfolio-nav{
    position: relative;
    float: right;
    margin: 3em;
    right: 8.7em;
}
.portfolio-bar{
    width: 100%;
    font-family: 'Notobold';
}
.portfolio-link{
    margin: 0;
    padding: 0.2em 1.2em;
    font-size: 1em;
    text-decoration: none;
    color: $dark-bg;
}
.portfolio-link:hover{
    color: $light-blue;
    transition: all ease .5s;
    border: 2px solid $light-blue;
}

.portfolio-img{
    display: inline-block;
    padding: 0;
    position: relative;
    margin: .5em;
    cursor: pointer;

    img{
        width: 100%;
        height: auto;
    }
}

.inner{
    width:100%;
    height: 100%;
    background: $dark-bg;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 0;
    transition: opacity .5s;

    p{
        width: 100%;
        margin: 0;
        text-align: center;
        font-family: 'NotoLight';
        color: $white-copy;
        font-size: 3em;
    }
}

.inner:hover{
    opacity: .9;
    transition: opacity .5s;
}
//Portfolio

//Just
.just-section{
    background: $dark-bg;
    padding: 2em 13em;
    color: $white-copy;
    font-family: 'NotoRegular';
}
.just-btn{
    color: $visit-me-color;
    border: 1px solid $visit-me-color;
    padding: .5em 2em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'NotoLight';
    display: inline-block;
}
.just-btn:hover{
    color: $light-blue;
    border: 1px solid $light-blue;
}
//Just

//twitter
.logo-twitter{
    position: absolute;
    right: 6em;
    font-size: 2.5em;
}
//twitter

//John
.john-section{
    background: url(../imgs/camera.jpg);
    background-position: center;
    background-size: cover;
    padding: 2em 13em;
    color: $white-copy;
    font-family: 'NotoRegular';
}
.social{
    display: inline-block;
    color: $white-copy;
    border: 2px solid $white-copy;
    transition: all ease .5s;
    padding: .5em .5em;
    margin: .3em;

    &:hover{
        color: $light-blue;
        border: 2px solid $light-blue;
    }
}
//John
//Testimonial
.testimonials-section{
    color: $dark-bg;
    font-family: 'NotoLight';
    p{
        padding: 0 13em;
    }
}
//Testimonial